body {
  background-color: rgb(200, 200, 200);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#section1 {
  background-color: #ff0000;
  margin: 10px;

  width: 70vw; /* 70% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
}
#section2 {
  background-color: #e0e0e0;
}
#section3 {
  background-color: #d0d0d0;
}

#container {
  background-color: rgb(125, 125, 125); /*cor de fundo*/
  display: flex; /*alinhamento a esquerda*/
  width: 20%; /*largura*/
  height: 100vh; /*altura*/
  margin: 0px; /*sem margem*/
  padding: 0px;
  justify-content: center;
  position: fixed;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 5rem; /* Ajuste conforme necessário */
  height: 5rem; /* Ajuste conforme necessário */
  border-radius: 50%;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
