* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  margin: 0;
}

#sideHeader {
  background: rgb(95, 85, 85);
  width: 270px;
  height: 100vh;

  position: fixed;
}

#info {
  width: 270px;
  height: 1px;

  display: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#sideHeader img {
  width: 5rem; /* Ajuste conforme necessário */
  height: 5rem; /* Ajuste conforme necessário */
  border-radius: 50%;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 0;
}

#section1 {
  background-color: #fcd3d3;
  width: 77vw;
  height: 100vh;
}

#section2 {
  background-color: #f49e9e;
  width: 77vw;
  height: 100vh;
}
#section3 {
  background-color: #fc8686;
  width: 77vw;
  height: 100vh;
}
